
$backgroudColor: #ffffff
$homeBackgroudColor: #2a3449
$lightGrayColor: #c0c4cc

// 红
$red-primary: #f56c6c
$red-minor: mix($red-primary, #FFF, 70%)
$red-assist: mix($red-primary, #FFF, 30%)
$red-invalid: mix($red-primary, #FFF, 10%)
%red-primary
  color: $red-primary
%red-minor
  color: $red-minor
%red-assist
  color: $red-assist
%red-invalid
  color: $red-invalid

//绿
$green-primary: #5cb87a
$green-minor: mix($green-primary, #FFF, 70%)
$green-assist: mix($green-primary, #FFF, 30%)
$green-invalid: mix($green-primary, #FFF, 10%)
%green-primary
  color: $green-primary
%green-minor
  color: $green-minor
%green-assist
  color: $green-assist
%green-invalid
  color: $green-invalid

// 橙
$orange-primary: #e6a23c
$orange-minor: mix($orange-primary, #FFF, 70%)
$orange-assist: mix($orange-primary, #FFF, 30%)
$orange-invalid: mix($orange-primary, #FFF, 10%)
%orange-primary
  color: $orange-primary
%orange-minor
  color: $orange-minor
%orange-assist
  color: $orange-assist
%orange-invalid
  color: $orange-invalid

// 黑
$black-primary: #303133
$black-minor: #606266
$black-assist: #909399
$black-invalid: #c0c4cc
%black-primary
  color: $black-primary
%black-minor
  color: $black-minor
%black-assist
  color: $black-assist
%black-invalid
  color: $black-invalid

// 蓝
$blue-primary: #1989fa
$blue-minor: mix($blue-primary, #FFF, 70%)
$blue-assist: mix($blue-primary, #FFF, 30%)
$blue-invalid: mix($blue-primary, #FFF, 10%)
%blue-primary
  color: $blue-primary
%blue-minor
  color: $blue-minor
%blue-assist
  color: $blue-assist
%blue-invalid
  color: $blue-invalid

$border-primary: #e4e7ed

$background: #f6f6f6
